@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --inter: 'Inter', sans-serif;
}
ul{
    display: none;
}
body{
    height: 100vh;
    width: 92vw;
    margin: auto;
}
main{
    margin: 20px;
    display: grid;
    row-gap: 20px;
}
header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
section > img{
    width: 100%;
}
.imagem-de-desktop{
    display: none;
}
.futuro-web{
    display: grid;
    row-gap: 20px;
    text-align: left;
}
.futuro-web > h1{
    font-weight: 900;
    font-size: 50px;
    font-family: var(--inter);
    letter-spacing: -2px;
}
p{
    font-family: var(--inter);
    letter-spacing: 1px;
    font-size: 17px;
    line-height: 1.5em;
}
nav > a{
    color: #ffffff;
    padding: 15px;
    background-color: #ff0000;
    font-family: var(--inter);
    letter-spacing: 1px;
    font-weight: bold;
    display: inline-block;
}
nav > a:hover{
    background-color: #000000;
}
.secao-perguntas{
    background-color: #050534;
    padding: 20px;
    display: grid;
    row-gap: 50px;
}
.perguntas{
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}
.secao-perguntas > article > p{
    color: #ffffff;
    margin-bottom: 30px;

}
.perguntas > h2{
    color: #bdbd03;
    margin-bottom: 20px;
    font-family: var(--inter);
    font-size: 30px;
}
h3{
    font-weight: 700;
    color: #ffffff;
    font-family: var(--inter);
    margin-bottom: 15px;
}
.ranking{
    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 20px;
}
.ranking > img{
    width: 120px;
}
.ranking-informacoes{
    display: grid;
    gap: 10px;
}
div{
    font-family: var(--inter);
    font-size: 10px;
}
div > h1{
    font-size: 25px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.508);
}
div > p{
    font-size: 15px;
}